*{
    margin: 0;
}

body{
    background-color: #d9d9d9;
}

header{
    width: 100%;
    background-color: #203d55;
    color: white;
}

h2{
    text-align: center;
    padding: 20px;
}

main{
    margin: 100px 250px;
    padding: 50px;
    border-radius: 10px;
    background-color: #203d55;
}

label{
    color: white;
}

#kalkulasi{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#F, #C{
    display: flex;
    align-items: center;
}

#input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}

#konvert{
    display: flex;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 10px 20px;
    transition: all ease 500ms;
}

button:hover{
    cursor: pointer;
    border-radius: 7px;
    background: #89a9c2ab;
}

button:active{
    transform: translateY(2px);
}

h4{
    color: white;
}

.rumus{
    width:100%;
    display: flex;
    flex-direction: column;
}

.rumus textarea{
    text-align: center;
    padding: 20px 0;
}

#cara{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;   
    background: white;
    height: 100px;
}

.hasil{
    width: 250px;
    height: 20px;
    padding: 17px;
    border-radius: 10px;
    margin: 10px;
    background: white;
}

#opsi{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}